<h1>Listing locations</h1>
<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'search near' %>
   <p>
<% end %>


<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>



<!--MAP STUFF-->
<style>
    #mapdiv {
        width: 100%;
        height: 600px;
    }
</style>

<div id='mapdiv'></div>

<script type='text/javascript'>

  //Define the map. Can optionally set the view with e.g. .setView([37.9, -77], 5)
  var map = L.mapbox.map('mapdiv', 'elizrap.h2ic8pe8');

//Add a single hard-coded marker to the map
  L.mapbox.markerLayer({
    // this feature is in the GeoJSON format: see geojson.org
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [-71.209221, 42.33704]
    },
    properties: {
        title: 'Newton',
        description: 'Home',
        // customize markers by adding simplestyle properties
        // http://mapbox.com/developers/simplestyle/
        'marker-size': 'large',
        'marker-color': '#f0a'
    }
  }).addTo(map);

  console.log(map.markerLayer)


var markersFromDB;

markersFromDB = $.ajax({
  dataType: 'JSON',
  url: '',
  success: function(data) {

    /*var geojson = {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [-71.059,42.3584]
      },
      "properties": {
        "title": "Boston",
        "description": "Best city!",
        "marker-color": "#fc4353",
        "marker-size": "large",
        "marker-symbol": "monument"
      }
    }*/

    var geojson = data;

    L.mapbox.markerLayer(geojson).addTo(map);
    //geojsonP = $.parseJSON(geojson);
    //map.markerLayer.setGeoJSON(geojson);
    //mytext=$.parseJSON('{ "name": "John" }');
    console.log('hello ' + ' ' + geojson.type + ' ' + geojson.geometry + ' ' +data);
    console.log(map.markerLayer);

    //map.markerLayer.setGeoJSON(data);

  }
});



</script>
